repositoryUrl: https://github.com/hipages/docker-rabbitmq
verifyConditions: ['@semantic-release/github', 'semantic-release-docker']
prepare: []
publish: [{ path: 'semantic-release-docker', name: 'hipages/rabbitmq' }, '@semantic-release/github']
